/* $$$$$$$$$$$$$$$ */
/* BANNER */
/* $$$$$$$$$$$$$$$ */



.banner {
  background-image: url("images/uyuni.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.banner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}

/* $$$$$$$$$$$$$$$ */
/* FIRST DIV */
/* $$$$$$$$$$$$$$$ */

.first {
  background: transparent;
  height: 100vh;
}

.pulse {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  z-index: 2;
  position: absolute;
  width: 100%;
  padding-top: 450px;
}

.pulse h1 {
  font-size: 60px;
}

.pulse h3 {
  font-size: 27px;
}

/* $$$$$$$$$$$$$$$ */
/* SECOND DIV */
/* $$$$$$$$$$$$$$$ */

.second {

}

/* $$$$$$$$$$$$$$$ */
/* THIRD DIV */
/* $$$$$$$$$$$$$$$ */
